<app-nav></app-nav>

<section class="section-first">
    <div class="cake">
    <img src="./assets/img/cake_transparent.jpeg">
    </div>
    <div class="content">
        <div class="neon-logo">
                <img src="./assets/img/Milk-neon.gif" alt="Description" />
        </div>

        <div class="links">
            <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/about">About</a></li>
            </ul>  
        </div>
    </div>
</section>

