.section-first {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}



.background {
    height: 200%;
    margin-top: 150px;
    top: 0;
    left: 0;
    width: 50vw;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
}

.links {    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    margin-top: 60px;
}

.neon-logo {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    justify-self: center;
    margin-top: 100px;
}

ul {
   display: block;
    float: right;
    margin-right: 300px;
    list-style-type: none;
    text-transform: uppercase;
}

li {
    padding: 18px;
}

a {
    padding: 10px;
    color: white;
    background-color: rgb(35, 35, 35);
}

.featured {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
    justify-self: center;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(255, 241, 224);
}

h4 {
    background-color: hotpink;
    padding: 30x;
    position: absolute;
    /* bottom: 92%;
    left: -30px; */
    font-size: 18px;
    margin: 0;
    transform: rotate(-8deg);
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
    
}

#store {
    color: hotpink;
    background-color: rgb(255, 241, 224);
    text-decoration: underline;
}

/* SECTION SEASONAL */
.section-seasonal {
    background-color: rgb(255, 241, 224);
    margin-top: -50px;
    
}

.heading {
    text-align: center;
    padding: 80px;
}

p {
    font-weight: 400; 
    
}

h3 {
    font-weight: 900;
    letter-spacing: 6.5px;
    line-height: 1.15em;
    font-size: 30px;
    
}

.products-grid {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 100%;
    grid-column-gap: 15px;
}

.products-grid .product img {
    min-height: 100px;
    width: auto;
    
}

img, picture {
    margin: 0;
    max-width: 100%;
    padding: 25px;
}

#products {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
}

.shop-link {
    text-align: center;
}

#shop-link {
    text-align: center;
    background-color: hotpink;

}

/* SECTION COOKIES */
.section-cookies {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    padding: 30px 90px;
}

.content {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

/* SECTION GREATEST HITS */
.section-greatest-hits {
    background-color: rgb(255, 241, 224);
    /* text-align: center; */
    margin-top: -50px;
}

.products-grid-3 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-column-gap: 25px;
}

.products-grid-3 .product img {
    min-height: 100px;
    width: auto;
    
}

img, picture {
    margin: 0;
    max-width: 100%;
    padding: 25px;
}

#gh-link {
    background-color: rgb(255, 241, 224);
    color: hotpink;
    text-decoration: underline;
}