.section-first {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cake {
    display: block;
    width: 50%;
    margin-right: 500px;
    
}

.links {
    float: left;
    /* margin-right: 100px; */
}

.neon-logo {
    float: left;
    /* margin-right: 300px; */
}

ul {
   display: block;
    float: right;
    margin-right: 300px;
    list-style-type: none;
    text-transform: uppercase;
}

li {
    padding: 18px;
}

a {
    padding: 10px;
    color: white;
    background-color: black;
}