@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body, html {
    height: 100%;
    margin: 0 auto;
}



body {
    font-family: Roboto;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    background-color: rgb(245, 206, 232);
}

a {
    text-decoration: none;
}

.logo {
    font-family: Pacifico;
    color: hotpink;
    font-weight: bold; 
    margin-block: 0 0 0 0; 
}

.container-logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

    a {
        color:black;
    }


section {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}