.header {
    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr; 

}

/* #kitchen {
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.background-color {
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: #fff1de;
    height: 300px;
    
}

.background {
    grid-column-start: 2;
    grid-column-end: span 10;
    grid-row-start: 1;
    grid-row-end: span 1;
    margin-top: 30px;
    min-height: 500px;
    background-size: cover;
    background-position: 50%;

}